// ------------------------------
// S:main - sheet-chart
// ------------------------------
.sheet-chart{
	$black : #111;
	$contentColor : #666;
	$letterSpacing:-0.14px;
	$chartBorderTop: 1px solid #ddd;
	$imgUrl:'../img';

	@mixin textHide($wi, $he) {
		display:inline-block;
		width:#{$wi}px;
		height:#{$he}px;
		overflow:hidden;
		text-indent:-9999px;
	}

	*{
		padding:0;
		margin:0;
		box-sizing: border-box;
	}
	ul,li{
		list-style:none;
	}
	button{
		background:inherit;
		border:none;
		box-shadow:none;
		border-radius:0;
	}

	height:auto;
	padding:12px 10px 14px;
	background:#f7f7f7;

	.dimmed{
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: rgba(0,0,0,.4);
		&.on{
			display: block;
		}
	}

	&-header{
		position:relative;
		display:flex;
		justify-content:space-between;
		flex-wrap: wrap;
		padding-bottom:17px;
		background-image: url('#{$imgUrl}/president_img.png');
		background-repeat: no-repeat;
		$bgXvalue : calc( 100% - 10px);
		background-position:$bgXvalue 100%;
		background-size: 80px;
		
		h1{
			display:inline-block;
			color:#111;
			font-size:18px;
			line-height:22px;
			font-weight:700;
			letter-spacing: -0.9px;
		}

		.more-btn{
			width: 24px;
			height: 24px;
			padding: 5px;
			border: 1px solid #DDDDDD;
			border-radius: 3px;
			background: #fff;
		}

		.percent-value{
			display:flex;
			width:100%;
			margin-top:9px;

			p{
				display:inline-block;
				margin-right:6px;
				font-size:16px;
				line-height:24px;
				font-weight:500;
				vertical-align: top;

				strong{
					display:inline-block;
					margin-left:2px;
					font-size:20px;
					font-weight:700;
					vertical-align: top;
					letter-spacing: -0.2px;
				}

				&.denial{
					color:#4b6fd1;
				}
				
				&.positive{
					color:#cc3926
				}
			}
		}
	}

	&-chart{
		width:100%;
		height:130px;
		margin-bottom:9.6px;
    	border-top:$chartBorderTop;
	}

	&-info{
		font-size:12px;
    	line-height:16px;
		color:#999;
		letter-spacing: -0.12px;
	}

	.highcharts-tooltip{
		display:none;
	}

	.ar-layer{
		position:fixed;
		display:flex;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		width:calc(100% - 20px);
		height:auto;
		padding:30px 20px 33px;
		background:#fff;
		box-shadow: 0px 4px 20px #00000029;
		border-radius: 3px;
		z-index:100000;
		flex-wrap:wrap;
		justify-content: space-between;

		h1{
			display:block;
			width:100%;
			margin-bottom:25px;
			color:$black;
			font-size:20px;
			line-height:26px;
			text-align:left;
			letter-spacing: -0.2px;
		}

		&-close{
			position:absolute;
			top:36px;
			right:21px;
		}

		p{
			color:#999;
			font-size:14px;
			line-height:22px;
			letter-spacing: $letterSpacing;
		}

		&-tab{
			display: flex;
			padding-bottom: 15px;
			flex-wrap: nowrap;
			overflow: auto;
			margin: 0 -20px;
			padding: 0 20px 15px;

			button{
				position:relative;
				display:inline-block;
				min-width:66px;
				color:$contentColor;
				padding: 0 7px;
				margin-right:20px;
				font-size:13px;
				line-height:18px;
				letter-spacing: -0.15px;

				&.on{
					color:$black;
					font-weight:700;

					&::after{
						position:absolute;
						content:"";
						left:0;
						right:0;
						bottom:-15px;
						height:2px;
						background:$black;
					}
				}
			}
		}
		
		&-pc-info{
			display:none;
		}

		&-chart{
			width:100%;
			border-top:$chartBorderTop;
		}

		&-chartInfo{
			width:100%;
			margin-top:25px;
			font-size:14px;
			color:#999;
			letter-spacing:$letterSpacing;
		}

		.highcharts-tooltip{
			display:block;
		}
	}
	.highcharts-label.highcharts-tooltip.highcharts-color-undefined{
		opacity: 1 !important;
		visibility: inherit !important;
	}

	.tooltip-wrap{
		width:100%;
		padding:25px 0 10px;
		border:0;
		border-bottom:1px solid #ddd;
		background-image: url('#{$imgUrl}/president_img.png');
		background-repeat: no-repeat;
		$bgXvalue : calc( 100% - 5px);
		background-position:$bgXvalue 100%;
		background-size: 120px;

		.tooltip-date{
			display:block;
			text-align:left;
			font-size:16px;
			line-height:19px;
			color:#111;
			letter-spacing: -0.12px;
		}

		.tooltip-series{
			display:inline-block;
			margin-top:10px;
			margin-right:21px;
			font-size:14px;
			font-size:16px;
			font-weight:500;
			letter-spacing: -0.16px;
			
			span{
				display:none;
			}
			b{
				display:block;
				margin-top:2px;
				font-size:24px;
				line-height:30px;
				font-weight:700;
			}
		}

		.tooltip-ac{
			margin-top:10px;
			font-size:12px;
			line-height:22px;
			letter-spacing: -0.12px;
			color: #999;
		}
	}
}

@media (max-width: 767px) {
	.home{
		.aside-article{
			.sheet-chart,
			.ar-layer{
				p.sheet-chart-info,
				.ar-layer-chartInfo{
					font-size: 12px;
					line-height: 16px;
					color: #999;
					letter-spacing: -0.12px;
					white-space: initial;
					overflow: hidden;
					text-overflow: initial;
				}
			}
		}
	}

	.sheet-chart{
		.highcharts-label.highcharts-tooltip.highcharts-color-undefined{
			opacity: 1 !important;
			visibility: inherit !important;
		}
	}
	
	.tooltip-wrap{
		.tooltip-ac{
			margin-top:10px;
			font-size:12px;
			line-height:22px;
			letter-spacing: -0.12px;
			color: #999;
		}
	}
}

@media (min-width: 768px) {
	.sheet-chart{
		max-width:300px;
		padding-top:15px;
		
		&-header{
			.percent-value{
				p{
					margin-right:12px;
					line-height:24px;

					strong{
						margin-left:8px;
					}
				}
			}
		}

		&-chart{
			margin-bottom:8px;
		}

		.ar-layer{
			width:960px;
			height:480px;
			padding:40px 40px 42px 41px;

			h1{
				margin-bottom:16px;
				font-size:24px;
				line-height:30px;
				text-align:center;
			}

			&-close{
				top:20px;
				right:21px;
			}

			&-tab{
				display:inline-block;
				padding-bottom:0;
				flex-wrap:wrap;
				margin:0;
				padding:0;
				overflow:initial;

				button{
					padding:1px 7px;
					font-size:15px;
				}
			}

			&-pc-info{
				display:inline-block;
			}

			&-chart{
				height:275px;
				margin-top:13px;
			}
		}

		.tooltip-wrap{
			width:175px;
			padding:10px 14px;
			background-size: 70px;

			.tooltip-date{
				text-align:center;
				font-size:12px;
				line-height:22px;
			}

			.tooltip-series{
				display:block;
				margin-top:5px;
				font-size:16px;
				
				span{
					display:inline-block;
					width:8px;
					height:8px;
					margin-right:3px;
					border-radius:100%;
					vertical-align:middle;
				}

				b{
					display:inline-block;
					margin-top:0;
					margin-left:3px;
					font-size:16px;
					line-height:20px;
					font-weight:700;
				}
			}
		}
	}
}